$black: #000;
$white: #fff;
$goldenrod: #daa520;
$whitesmoke: #f5f5f5;
$grey: #A9A9A9;
$lightblack: #323232;
$darkorange: #FF8C00;
$gray: #979A9A;
$silver: #C0C0C0;
$green: #008000;
$red: #ff0000;
$blue: #0000ff;